h1 {
  text-align: center;
}
.Umenu ul li {
  padding-top: 10px;
  list-style: none;

}

.img {
  text-align: center;
}

.Ucontent {
  width: 75%;
  float: left;
  text-align: justify;
}
.coloredname {
  background:#8e8987;
}

.text {
  padding-bottom: 5px;
}
