.menu {
  width: 20%;
  float: left;
}
h1 {
  text-align: center;
}
.menu ul li {
  padding-top: 10px;
  list-style: none;

}

.content {
  width: 80%;
  float: left;
  text-align: justify;
}


.text {
  padding-bottom: 5px;
}

.tabletop {
  background: #dbd9d2;
    padding: 0 25px 0 10px;
    height: 28px;
}
.tabletopleft{
  background: #8e8987;
    
    height: 29px;
    text-align: left;
    padding: 0 10px
}
.tabletopright{
  background: #8e8987;
   
    height: 29px;
    text-align: left;
    padding: 0 10px;
}
.colored {
      background: #e4e3de;
}

.coloredname {
  background:#8e8987;
}
