.menu {
  width: 20%;
  float: left;
}
h1 {
  text-align: center;
}
.menu ul li {
  padding-top: 10px;
  list-style: none;

}

.content {
  width: 80%;
  float: left;
  text-align: justify;
}


.text {
  padding-bottom: 5px;
}



.border{
  background: #8e8987;
    padding: 0 25px 0 10px;
    height: 28px;
    text-align: left;
}

.colored {
      background: #dbd9d2;
}
